<div class="container-do-lucas">
  <div class="row">
    <div class="col-xs-12">
      <h3>Loja do Lucas</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-12">
              <a href="" data-toggle="collapse"><h4>Seção - Livros</h4></a>
              <app-product-list class="collapse in">
              </app-product-list>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                <a href="" data-toggle="collapse"><h4>Seção - Filmes</h4></a>
                <app-product-list class="collapse in">
                </app-product-list>
              </div>
            </div>
        </div>
        <div class="col-xs-4">
          <app-side-infos></app-side-infos>
        </div>
      </div>
    </div>
  </div>
</div>