<div class="container-do-lucas">
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12">
          <app-home-carousel></app-home-carousel>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <h4>Seção - Livros</h4>
              <app-product-list [produtos]=livros class="collapse in">
              </app-product-list>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h4>Seção - Filmes</h4>
              <app-product-list [produtos]=filmes class="collapse in">
              </app-product-list>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
        <app-side-infos></app-side-infos>
      </div>
  </div>
</div>