<div class="container-do-lucas">
  <div class="row">
    <div class="col-xs-4">
      <img src="https://images-na.ssl-images-amazon.com/images/I/41K99%2BcInvL._SX326_BO1,204,203,200_.jpg" class="imagem-produto">
    </div>
    <div class="col-xs-4">
      <app-product-detail [produto]="produto">
      </app-product-detail>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-product-suggestion [produtoEmCompra]="produto"></app-product-suggestion>
    </div>
  </div>
</div>