<div class="container-do-lucas">
  <div class="row">
    <div class="col-xs-12">
      <h4>Informações Importantes</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Última Atualização</div>
        <div class="panel-body">
          11/12/2018
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Livro mais recente</div>
        <div class="panel-body">
          Harry Potter e a pedra filosofante
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Livro mais comprado</div>
        <div class="panel-body">
          Como fazer um site em 3 dias
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Doações</div>
        <div class="panel-body">
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
              40% Atingida
            </div>
          </div>
          <div>
            A contabilização encerra todo dia 20 do mês
          </div>
        </div>
      </div>
      <div class="panel panel-warning">
        <div class="panel-heading">Atenção</div>
        <div class="panel-body">
          Cartão de Crédito fora do Ar até a próxima segunda-feira
        </div>
      </div>
    </div>
  </div>
</div>