<div class="container-do-lucas">
  <div class="row">
    <div class="col-xs-12">
      <h4>Informações Importantes</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-info-panel *ngFor="let informacao of informacoes" [information]="informacao">
      </app-info-panel>
      <div class="panel panel-info">
        <div class="panel-heading">Doações</div>
        <div class="panel-body">
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0"
              aria-valuemax="100" style="width: 40%">
              40% Atingida
            </div>
          </div>
          <div>
            A contabilização encerra todo dia 20 do mês
          </div>
        </div>
      </div>
    </div>
  </div>
</div>